@charset "UTF-8";
ul.side {
  position: relative;
  top:-29px;
}
ul.side li {
  position: relative;
  list-style: none;
}
ul.side li a {
    display: block;
    height: 40px;
    text-align: center;
    color: #fff;
    line-height: 2.8;
    text-decoration: none;
    box-sizing: border-box;
    position: relative;
    left: -89px;
    margin-top: 10px;
    top: -9px;
}
ul.side > li:hover > a {/*layer-1*/
  color: black;
}
ul.side > li li:hover > a {/*layer-2*/
  color: transparent;
}
ul.side li ul {
  top: 40px;
  left: -40px;
  position: absolute;
}
ul.side li ul li {
  overflow: hidden;
  height: 0;
}

ul.side li:hover > ul > li {
  overflow: visible;
  height: 40px;
}
ul.side li ul li ul {
    top: 0;
    left: 110px;
  }
ul.side li ul li ul:before {/*layer-2▷*/
    position: absolute;
    content: "";
    top: 15px;
    left: 30px;
    border: transparent;
    border-left: transparent;
  }

ul.side li ul li ul.left {
    top: 0;
    left: -190px;
  }
ul.side li ul li ul.left:before,/*layer-2-left▷*/
ul.side li ul li ul li ul.left:before {/*layer-3-left▷*/
    position: absolute;
    content: "";
    top: 15px;
    left: 190px;
    border: 5px solid transparent;
  }
a.side:hover{
  color: transparent;
  }