/* 日本地図＋都道府県 */
div.map {
	position: relative;
	left: 129px;
	top: -771px;
}

/* サイドメニュー */
.side {
  z-index: 99;
  cursor: pointer;
  position: fixed;
  top: 2.5%;
  right: -140px;
  background: #222222;
  width: 180px;
  color: #fff;
  font-size: 16px;
  list-style:square;
  text-decoration: none;
}
a.sideH:hover{
	text-decoration: none;
}


/* 検索ボックス */
input.textbox{
	left: 512px;
	width: 90%;
	height:40px;
}

/* ログイン、新規登録 */
div.block {
	background-color: white;
	border-color: #ddd;
	position: relative;
	left: 409px;
	width: 50%;
	top: 23px;
	height: 710px;
	opacity: 0.9;
}

/* ヘルプマーク */
li.help {
	position: relative;
	left: 517px;
	top: -31px;
	list-style: none;
	width: 20%;
}

/* ログイン、ログアウト、新規登録、投稿、検索 */
ul.bts {
	position: absolute;
	top: 63px;
	right: 214px;
}
li.buttons {
	float: left;
	margin-left: 35px;
	font-size: 11px;
	line-height: 11px;
	font-weight: 500;
	letter-spacing: 0.11em;
	list-style: none;
}
ul.bts1 {
	position: absolute;
	top: 46px;
	right: 708px;
}
li.search {
	width: 400px;
	float: left;
	margin-left: -321px;
	font-size: 12px;
	font-weight: 500;
	list-style: none;
}
.searchBtn{
    height: 40px;
    position: relative;
    left: -4px;
    top: -1px;
    width:9%;
    background-color: #dbaf35;
}


/* 画像切り替わるもの */
#photo {
	width: 100vw;
	height: 100vh;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
	background-size: cover;
}

/* 記事を囲んでいるもの */
div.styleAll {
	position: relative;
	top: 210px;
}
div.styleArticle {
	background-image: url("/img/bj.png");
	border-top-left-radius: 100px;
	border-top-right-radius: 100px;
	height: 1250px;
}

/* ARTICLESと記事の文字 */
div.kakomi1 {
	position: relative;
	text-align: center;
	display: flex;
	align-items: center;
	top: -2376px;
	left: 445px;
	width: 50%;
	color: #615c48;
}
span.jp1 {
	font-family: 'Luminari', sans-serif;
	font-size: 1.2rem;
	letter-spacing: 0.15em;
	position: relative;
	top: 75px;
	left: -53%;
	font-size: 19px;
}


/* ヘッダー英語 */
span.en {
	font-family: 'Luminari', sans-serif;
	font-size: 2rem;
	letter-spacing: 0.3em;
}

/* ヘッダー日本語 */
span.jp {
	font-family: 'Luminari', sans-serif;
	font-size: 1.2rem;
	margin: 20px auto 0;
}

/* 背景色 */
div.row1 {
	position: relative;
	top: 6px;
	width: 80%;
	left: 15%;
	height: 800px;
	border: 30px solid;
	border-image-source: url("/img/wood.png");
	border-image-slice: 33%;
	border-image-repeat: repeat;
	background: #f2f6f7;
}

/* 背景画像 */
body {
	background-image: url("/img/cor.jpg");
	width: 90%;
}

/* ヘッダー部分 */
header.header {
	width: 100%;
	height: 120px;
	z-index: 10;
}

/* ヘッダーでの新規登録ボタン */
div.registerBotton {
	position: relative;
	left: 861px;
	top: -172px;
}

/* ログイン画面のデザイン */
div.loginDesign {
	position: relative;
	left: 64px;
	top: -17px;
}

/* ロゴデザイン */
img.logo {
	position: absolute;
	top: 16px;
	right: 1274px;
	width: 11%;
}
img.logoL{
	position: absolute;
	top: 10px;
	right: 958px;
	width: 23%;
}
img.logoR{
	position: absolute;
	top: -15px;
	right: 958px;
	width: 23%;
}


/* 新規登録のボタン */
a.cp_btn {
	position: relative;
	display: block;
	width: 160px;
	padding: 0.8em;
	text-align: center;
	font-weight: bold;
	text-decoration: none;
	color: #FFF;
	text-shadow: 0 0 5px rgba(255, 255, 255, 0.0);
	background: #1A237E;
	transition: .4s;
	border-radius: 4px;
}
a.cp_btn:hover {
	text-shadow: -6px 0px 15px rgba(255, 255, 240, 0.83), 6px 0px 15px
		rgba(255, 255, 240, 0.83);
	transition: .4s;
}
div.newButton {
	position: relative;
	top: -90px;
	left: 263px;
}
div.newButtonLetter {
	position: relative;
	top: -58px;
	left:69px;
}

/* ログインボタン */
.loginButton {
	position: relative;
	left: -69px;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 112px;
}
div.LoginBottons{
	position: relative;
	top: 83px;
}
.cd_btn {
	width: 140px;
	height: 45px;
	font-family: 'Roboto', sans-serif;
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 2.5px;
	font-weight: 500;
	color: #000;
	background-color: #fff;
	border: none;
	border-radius: 45px;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	transition: all 0.3s ease 0s;
	cursor: pointer;
	outline: none;
}
.cd_btn:hover {
	background-color: #2EE59D;
	box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
	color: #fff;
	transform: translateY(-7px);
}

/* ユーザー登録のデザイン */
div.registerDesign {
	position: relative;
	left: 64px;
	top: 9px;
}

/* ユーザー登録ボタン */
div.registerButton {
	position: relative;
	left: 8px;
	top: -117px;
}

/* ユーザー登録クリアボタン */
div.clearButton {
	position: relative;
	left: 8px;
	top: -100px;
}

/* 日本地図 */
img.japanMap {
	position: relative;
	left: 256px;
}


/* 記事投稿、文字数アラート */
.count_num {
	font-weight: bold;
	display: block;
	margin: 0 0 5px 0;
}

.count_alert {
	color: #ff0000;
	font-weight: bold;
	display: block;
}


/* 記事一覧表示 */
div.row {
	position: relative;
	bottom: 1160px;
	left: 65px;
	background-image: url("/img/cor.png");
}
div:row:nth-child(3n-1) {
	margin: 0 2%;
}

/* 北海道 */
div.hokkaido1 {
	position: relative;
	left: 588px;
	bottom: 660px;
}
div.hokkaido1:before {
	content: '';
	position: relative;
	left: 30px;
	bottom: -10px; /*線の上下位置*/
	display: inline-block;
	width: 70px; /*線の長さ*/
	height: 3px; /*線の太さ*/
	-webkit-transform: translateX(-50%);
	transform: translateX(40%); /*位置調整*/
	background-color: purple; /*線の色*/
	border-radius: 2px; /*線の丸み*/
}

/* 東北 */
div.tofoku {
	position: relative;
	left: 815px;
	bottom: 473px;
}
div.sen1:before {
	content: '';
	position: relative;
	left: 33px;
	bottom: -1px; /*線の上下位置*/
	display: inline-block;
	width: 120px; /*線の長さ*/
	height: 3px; /*線の太さ*/
	-webkit-transform: translateX(-50%);
	transform: translateX(-47%); /*位置調整*/
	background-color: blue; /*線の色*/
	border-radius: 2px; /*線の丸み*/
}

/* 関東 */
div.kanto {
	position: relative;
	left: 772px;
	bottom: 388px;
}

div.sen2:before {
	content: '';
	position: relative;
	left: -8px;
	bottom: -1px; /*線の上下位置*/
	display: inline-block;
	width: 120px; /*線の長さ*/
	height: 3px; /*線の太さ*/
	-webkit-transform: translateX(-50%);
	transform: translateX(-15%); /*位置調整*/
	background-color: green; /*線の色*/
	border-radius: 2px; /*線の丸み*/
}

/* 中部 */
div.tyubu {
	position: relative;
	left: 537px;
	bottom: 670px;
}

div.sen3:before {
	content: '';
	position: absolute;
	left: -12px;
	bottom: -10px; /*線の上下位置*/
	display: inline-block;
	width: 120px; /*線の長さ*/
	height: 3px; /*線の太さ*/
	-webkit-transform: translateX(-50%);
	transform: translateX(-12%); /*位置調整*/
	background-color: lime; /*線の色*/
	border-radius: 2px; /*線の丸み*/
}

/* 近畿 */
div.kinki {
	position: relative;
	left: 575px;
	bottom: 455px;
}

div.sen4:before {
	content: '';
	position: absolute;
	left: -15px;
	bottom: -10px; /*線の上下位置*/
	display: inline-block;
	width: 120px; /*線の長さ*/
	height: 3px; /*線の太さ*/
	-webkit-transform: translateX(-50%);
	transform: translateX(-12%); /*位置調整*/
	background-color: yellow; /*線の色*/
	border-radius: 2px; /*線の丸み*/
}

/* 中国 */
div.chugoku {
	position: relative;
	left: 368px;
	bottom: 708px;
}

div.sen5:before {
	content: '';
	position: absolute;
	left: -13px;
	bottom: -10px; /*線の上下位置*/
	display: inline-block;
	width: 120px; /*線の長さ*/
	height: 3px; /*線の太さ*/
	-webkit-transform: translateX(-50%);
	transform: translateX(-12%); /*位置調整*/
	background-color: orange; /*線の色*/
	border-radius: 2px; /*線の丸み*/
}

/* 四国 */
div.shikoku {
	position: relative;
	left: 436px;
	bottom: 553px;
}

div.sen6:before {
	content: '';
	position: absolute;
	left: 31px;
	bottom: -10px; /*線の上下位置*/
	display: inline-block;
	width: 120px; /*線の長さ*/
	height: 3px; /*線の太さ*/
	-webkit-transform: translateX(-50%);
	transform: translateX(-47%); /*位置調整*/
	background-color: pink; /*線の色*/
	border-radius: 2px; /*線の丸み*/
}

/* 九州 */
div.kyushu {
	position: relative;
	left: 180px;
	bottom: 620px;
}

div.sen7:before {
	content: '';
	position: absolute;
	left: -20px;
	bottom: -10px; /*線の上下位置*/
	display: inline-block;
	width: 120px; /*線の長さ*/
	height: 3px; /*線の太さ*/
	-webkit-transform: translateX(-50%);
	transform: translateX(-10%); /*位置調整*/
	background-color: red; /*線の色*/
	border-radius: 2px; /*線の丸み*/
}

/* 沖縄 */
div.okinawa {
	position: relative;
	left: 834px;
	bottom: 630px;
}

div.sen8:before {
	content: '';
	position: absolute;
	left: -13px;
	bottom: -10px; /*線の上下位置*/
	display: inline-block;
	width: 80px; /*線の長さ*/
	height: 3px; /*線の太さ*/
	-webkit-transform: translateX(-50%);
	transform: translateX(-17%); /*位置調整*/
	background-color: red; /*線の色*/
	border-radius: 2px; /*線の丸み*/
}

/* 各種ボタン類のデザイン */
button.circle_spread_btn {
	display: inline-block;
	position: relative;
	width: 46px;
	height: 38px;
	line-height: 34px;
	text-align: center;
	text-decoration: none;
	color: #fff;
	background: #40C659;
	left: 399px;
}

button.circle_spread_btn:hover {
	cursor: pointer;
	text-decoration: none;
	text-align: center;
	transition: transform .3s;
	transform-origin: center;
	transform: scale(0.9, 0.9);
	opacity: 0.7;
}

button.circle_spread_btn::after {
	display: inline-block;
	content: "";
	width: 49px;
	height: 49px;
	position: absolute;
	border-radius: 50%;
	color: #fff;
	top: -0.5px;
	left: -0.5px;
	border: 1px solid #40C659;
	transition: transform .5s ease;
	visibility: hidden;
}

button.circle_spread_btn:hover::after {
	cursor: pointer;
	text-decoration: none;
	transition: transform .5s ease;
	transform-origin: center;
	transform: scale(1.4, 1.4);
	opacity: 0.7;
	visibility: visible;
}

button.btn-square-so-pop {
	position: relative;
	padding: 0.25em 0.5em;
	text-decoration: none;
	display: block;
	color: #FFF;
	background: #fd9535;
	色 border-radius: 4px;
	角の丸み box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.2), inset 0 -2px 0
		rgba(0, 0, 0, 0.05);
	font-weight: bold;
	border: solid 2px #d27d00;
	線色
}

button.btn-square-so-pop:active {
	押したとき box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}


/* ログインボタン */
a.Login {
	transition: 2.0s;
	color: white;
}
a.Login:hover {
	text-decoration: none;
	color: black;
}


/* プルボタン */
#find {
	width: 20%;
	text-align: center;
	height:40px;
}

/* エラー画像 */
img.baka {
	width: 30%;
}

/* いいねボタン */
img.good {
	position: relative;
	width: 25px;
}

/* ユーザーの名前 */
/* div.userName { */
/* 	position: relative; */
/* 	left:14px; */
/* 	top:30px; */
/* 	min-width:500px; */
/* } */

div.box{
	text-align: center;
}

div.form-group{
	position:relative;
	left:-126px;
	bottom:71px;
	width: 50px;
}

#input-name{
	position:relative;
	left:573px;
	bottom:2px;
	width: 231px;
	height:50px;
	
}


div.box14{
	 background-color: rgba( 255, 255, 255, 0.4 );
    width: 1420px;
    height:622px;
    display: inline-block;
    text-align: center;
    position: relative;
    top:-12px;
    left:50px;
    
}
/* div.box14 p {
    margin: 0; 
    padding: 0;
} */
div.count{
	width:80px;
	right:500px;
	left:1019px;
	position:relative;
	bottom:15px;
}
	
input.start{
    width:80px;
	right:500px;
	left:0px;
	position:relative;
	bottom:8px;
    
}

input.end{
	width:80px;
	right:500px;
	left:0px;
	position:relative;
	bottom:-4px;
	
}

.box17{
    margin:2em 0;
    position: relative;
    padding: 0.5em 1.5em;
    border-top: solid 2px #DDFFFF;
    border-bottom: solid 2px #DDFFFF;
    text-align: center;
    left:50px;
}
.box17:before, .box17:after{
    content: '';
    position: absolute;
    top: -10px;
    width: 2px;
    height: -webkit-calc(100% + 20px);
    height: calc(100% + 20px);
    background-color: #DDFFFF;
}
.box17:before {left: 10px;}
.box17:after {right: 10px;}
.box17 p {
    margin: 0; 
    padding: 0;
}

img.trip{
	width:30%;
    height:250px;
    position:relative;
    bottom:2px;
    left:50px;
    right:60px;
    z-index:10;
	
}
input{

	margin:0 auto;
	font-size: 15px;
	
	
}
textarea{
	margin:0 auto;
	font-size:15px;
}
select{
	text-align: center;
	margin:0 auto;
	
}
#input_text{
	width:500px;
	height:50px;
	position:relative;
	left:144px;
	bottom:-7px;
}
#name{
	position:relative;
	width:272px;
}
#prefecture{
	position:relative;
	width:250px;
	height:50px;
	bottom:78px;
	left:-147px;
	
}
/* #picture{
	position:relative;
	width:268px;
	height:45px;
	bottom:202px;
	left:280px;
	
} */
#gazou{
	position:relative;
	width:250px;
	height:50px;
	bottom:135px;
	left:647px;
	
}
#datepicker{
	position:relative;
	width:232px;
	height:50px;
	bottom:207px;
	left:-146px;
	
}
#datepicker2{
	position:relative;
	width:240px;
	height:51px;
	bottom:344px;
	left:115px;
	
}
#content{
	position:relative;
	width:520px;
	height:291px;
	bottom:337px;
	left:-1px;
	
}
#button{
	position:relative;
	width:180px;
	height:48px;
	bottom:368px;
	left:-1px;
	
}

#mark{
	position:relative;
	width:164px;
	height:48px;
	bottom:270px;
	left:610px;
	
}

.filelabel {
   position:relative;
   background-color: orange; 
   color: white;              
   border: 2px solid orange; 
   border-radius: 3em;        
   padding: 12px 9px;         
   display: inline-block;    
   left:50px;
   bottom:50px;
}
.filelabel img {
   vertical-align: bottom;    
}
.filelabel:hover {
   opacity: 0.5;              
   border: 2px solid red;    
   cursor: pointer;          
}
#filesend {
   display: none;  
}
.orange{
	bottom:164px;
   left:142px;
   position:relative;
	
}



