img.japanMap{
	position: relative;
	left:290px;
}
a.hokkaido{
	position: relative;
	right:60px;
	bottom:650px;
}
a.hokkaido:before{
  content: '';
  position: absolute;
  left: 50%;
  bottom: -10px;/*線の上下位置*/
  display: inline-block;
  width: 70px;/*線の長さ*/
  height: 3px;/*線の太さ*/
  -webkit-transform: translateX(-50%);
  transform: translateX(-47%);/*位置調整*/
  background-color: purple;/*線の色*/
  border-radius: 2px;/*線の丸み*/
}

a.aomori{
	position: relative;
	right:-60px;
	bottom:490px;
}
a.iwate{
	position: relative;
	right:-70px;
	bottom:490px;
}
a.miyagi{
	position: relative;
	right:3px;
	bottom:460px;
}
a.akita{
	position: relative;
	right:-6px;
	bottom:460px;
}
a.yamagata{
	position: relative;
	right:66px;
	bottom:430px;
}
a.hukusima{
	position: relative;
	right:57px;
	bottom:430px;
}
a.hukusima:before{
  content: '';
  position: absolute;
  left: -30%;
  bottom: -10px;/*線の上下位置*/
  display: inline-block;
  width: 120px;/*線の長さ*/
  height: 3px;/*線の太さ*/
  -webkit-transform: translateX(-50%);
  transform: translateX(-47%);/*位置調整*/
  background-color: blue;/*線の色*/
  border-radius: 2px;/*線の丸み*/
}
a.ibaraki{
	position: relative;
	right:180px;
	bottom:290px;
}
a.tochigi{
	position: relative;
	right:170px;
	bottom:290px;
}
a.gunma{
	position: relative;
	right:243px;
	bottom:260px;
}
a.saitama{
	position: relative;
	right:233px;
	bottom:260px;
}
a.chiba{
	position: relative;
	right:307px;
	bottom:230px;
}
a.tokyo{
	position: relative;
	right:297px;
	bottom:230px;
}
a.kanagawa{
	position: relative;
	right:370px;
	bottom:200px;
}
a.kanagawa:before{
  content: '';
  position: absolute;
  left: -30%;
  bottom: -10px;/*線の上下位置*/
  display: inline-block;
  width: 120px;/*線の長さ*/
  height: 3px;/*線の太さ*/
  -webkit-transform: translateX(-50%);
  transform: translateX(-15%);/*位置調整*/
  background-color: green;/*線の色*/
  border-radius: 2px;/*線の丸み*/
}
a.nigata{
	position: relative;
	right:670px;
	bottom:500px;
}
a.toyama{
	position: relative;
	right:655px;
	bottom:500px;
}
a.ishikawa{
	position: relative;
	right:733px;
	bottom:470px;
}
a.fukui{
	position: relative;
	right:718px;
	bottom:470px;
}
a.yamanashi{
	position: relative;
	right:797px;
	bottom:440px;
}
a.nagano{
	position: relative;
	right:782px;
	bottom:440px;
}
a.gihu{
	position: relative;
	left:562px;
	bottom:430px;
}
a.shizuoka{
	position: relative;
	left:577px;
	bottom:430px;
}
a.aichi{
	position: relative;
	left:498px;
	bottom:398px;
}
a.aichi:before{
  content: '';
  position: absolute;
  left: -30%;
  bottom: -10px;/*線の上下位置*/
  display: inline-block;
  width: 120px;/*線の長さ*/
  height: 3px;/*線の太さ*/
  -webkit-transform: translateX(-50%);
  transform: translateX(-12%);/*位置調整*/
  background-color: lime;/*線の色*/
  border-radius: 2px;/*線の丸み*/
}
a.mie{
	position: relative;
	left:498px;
	bottom:155px;
}
a.shiga{
	position: relative;
	left:510px;
	bottom:155px;
}
a.kyoto{
	position: relative;
	left:434px;
	bottom:125px;
}
a.osaka{
	position: relative;
	left:447px;
	bottom:125px;
}
a.hyogo{
	position: relative;
	left:370px;
	bottom:95px;
}
a.nara{
	position: relative;
	left:383px;
	bottom:95px;
}
a.wakayama{
	position: relative;
	left:307px;
	bottom:68px;
}
a.wakayama:before{
  content: '';
  position: absolute;
  left: -30%;
  bottom: -10px;/*線の上下位置*/
  display: inline-block;
  width: 120px;/*線の長さ*/
  height: 3px;/*線の太さ*/
  -webkit-transform: translateX(-50%);
  transform: translateX(-12%);/*位置調整*/
  background-color: yellow;/*線の色*/
  border-radius: 2px;/*線の丸み*/
}
a.tottori{
	position: relative;
	left:50px;
	bottom:348px;
}
a.shimane{
	position: relative;
	left:65px;
	bottom:348px;
}
a.okayama{
	position: relative;
	left:-13px;
	bottom:318px;
}
a.hiroshima{
	position: relative;
	left:2px;
	bottom:318px;
}
a.yamaguchi{
	position: relative;
	left:-77px;
	bottom:288px;
}
a.yamaguchi:before{
  content: '';
  position: absolute;
  left: -30%;
  bottom: -10px;/*線の上下位置*/
  display: inline-block;
  width: 120px;/*線の長さ*/
  height: 3px;/*線の太さ*/
  -webkit-transform: translateX(-50%);
  transform: translateX(-12%);/*位置調整*/
  background-color: orange;/*線の色*/
  border-radius: 2px;/*線の丸み*/
}
a.tokushima{
	position: relative;
	left:-35px;
	bottom:120px;
}
a.kagawa{
	position: relative;
	left:-25px;
	bottom:120px;
}
a.ehime{
	position: relative;
	left:-99px;
	bottom:93px;
}
a.kochi{
	position: relative;
	left:-88px;
	bottom:93px;
}
a.kochi:before{
  content: '';
  position: absolute;
  left: -30%;
  bottom: -10px;/*線の上下位置*/
  display: inline-block;
  width: 120px;/*線の長さ*/
  height: 3px;/*線の太さ*/
  -webkit-transform: translateX(-50%);
  transform: translateX(-47%);/*位置調整*/
  background-color:pink;/*線の色*/
  border-radius: 2px;/*線の丸み*/
}
a.fukuoka{
	position: relative;
	right:440px;
	bottom:150px;
}
a.saga{
	position: relative;
	right:420px;
	bottom:150px;
}
a.nagasaki{
	position: relative;
	right:504px;
	bottom:120px;
}
a.kumamoto{
	position: relative;
	right:483px;
	bottom:120px;
}
a.oita{
	position: relative;
	right:568px;
	bottom:90px;
}
a.miyazaki{
	position: relative;
	right:548px;
	bottom:90px;
}
a.kagoshima{
	position: relative;
	right:632px;
	bottom:60px;
}
a.kagoshima:before{
  content: '';
  position: absolute;
  left: -30%;
  bottom: -10px;/*線の上下位置*/
  display: inline-block;
  width: 120px;/*線の長さ*/
  height: 3px;/*線の太さ*/
  -webkit-transform: translateX(-50%);
  transform: translateX(-10%);/*位置調整*/
  background-color:red;/*線の色*/
  border-radius: 2px;/*線の丸み*/
}
a.okinawa{
	position: relative;
	left:52px;
	bottom:90px;
}
a.okinawa:before{
  content: '';
  position: absolute;
  left: -30%;
  bottom: -10px;/*線の上下位置*/
  display: inline-block;
  width: 80px;/*線の長さ*/
  height: 3px;/*線の太さ*/
  -webkit-transform: translateX(-50%);
  transform: translateX(-17%);/*位置調整*/
  background-color:red;/*線の色*/
  border-radius: 2px;/*線の丸み*/
}
div.text1{
	position: relative;
	buttom:400px;
	left:50px;
	top:30px;
}
button.circle_spread_btn {
	display: inline-block;
	position: relative;
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	text-decoration: none;
	color: #fff;
	background: #40C659;
	border-radius: 50%;
}
button.circle_spread_btn:hover {
	 cursor: pointer;
	 text-decoration: none;
	text-align: center;
	 transition: transform .3s;
	transform-origin: center;
	transform: scale(0.9, 0.9);
	opacity: 0.7;
}
button.circle_spread_btn::after {
    display: inline-block;
    content: "";
    width: 49px;
    height: 49px;
    position: absolute;
	 border-radius: 50%;
	color:#fff;
	 top: -0.5px;
	 left: -0.5px;
    border: 1px solid #40C659;
	 transition: transform .5s ease;
	visibility: hidden;
}
button.circle_spread_btn:hover::after {
	 cursor: pointer;
	 text-decoration: none;
	 transition: transform .5s ease;
	transform-origin: center;
	transform: scale(1.4, 1.4);
	opacity: 0.7;
	visibility: visible;
}
button.btn-square-so-pop {
  position: relative;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #FFF;
  background: #fd9535;/*色*/
  border-radius: 4px;/*角の丸み*/
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), inset 0 -2px 0 rgba(0, 0, 0, 0.05);
  font-weight: bold;
  border: solid 2px #d27d00;/*線色*/
}

button.btn-square-so-pop:active {
  /*押したとき*/
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}
div.text2{
	position: relative;
	left:1100px;
	bottom:700px;
}
div.text3{
	position: relative;
	left:1100px;
	bottom:700px;
}
div.box17{
    margin:2em 0;
    position: relative;
    padding: 0.5em 1.5em;
    border-top: solid 2px black;
    border-bottom: solid 2px black;
    text-align:center;
}
div.box17:before, .box17:after{
    content: '';
    position: absolute;
    top: -10px;
    width: 2px;
    height: -webkit-calc(100% + 20px);
    height: calc(100% + 20px);
    background-color: black;
}
div.box17:before {left: 10px;}
div.box17:after {right: 10px;}
div.box17 p {
    margin: 0; 
    padding: 0;
}
div.userName {
	position: relative;
	buttom:400px;
	left:150px;
	top:30px;
} 



