@charset "UTF-8";
img.shimane{
	position: relative;
    z-index: 1;
    width:100%;
    height:478px;
}
div.backShimane {
	position: relative;
	top: 6px;
	width: 59%;
	left: 23%;
	height: 478px;
	border: 30px solid;
	border-image-source: url("/img/wood.png");
	border-image-slice: 33%;
	border-image-repeat: repeat;
	background: #f2f6f7;
}