<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link th:href="@{/css/back.css}" rel="stylesheet">
<link th:href="@{/css/japanMap.css}" rel="stylesheet">
<link th:href="@{/css/bootstrap.css}" rel="stylesheet">
<link th:href="@{/css/aichi.css}" rel="stylesheet">
<link rel="shortcut icon" href="http://www.iconj.com/ico/r/5/r540h9h0nr.ico" type="image/x-icon" />
</head>
<body>

<div class="searchBYprefecture">
<h2>愛知県の記事</h2>
</div>
<div class="backAi">
<img th:src="@{/img/aichi.jpeg}" class="ai"></div>

<div class="row">
		<div>
			<div class="styleArticle" style="border-style: none;">
				<table class="table table-striped">
					<tbody>
						<tr th:each="aichi : ${aichiList}" class="col-md-4" style="height: 320px;padding-top:200px;padding-left: 100px;">
							<th><a th:href="@{'/showArticleDetail?id='+${aichi.id}}"> 
							<img th:src="${aichi.imagePath}" class="img-responsive img-rounded" id="thumbnail"></a><br> 
							<a th:href="@{'/showArticleDetail?id='+${aichi.id}}"> 
							<span th:text="${aichi.title}"></span></a><br> 
							投稿者名：<span th:text="${aichi.name}"></span><br>
							投稿日時：<span th:text="${aichi.postDate}"></span><br>
							都道府県：<span th:text="${aichi.prefecture}"></span>
							</th>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
</div>

</body>
</html>