<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link th:href="@{/css/back.css}" rel="stylesheet">
<link th:href="@{/css/japanMap.css}" rel="stylesheet">
<link th:href="@{/css/hokkaido.css}" rel="stylesheet">
<link rel="shortcut icon" href="http://www.iconj.com/ico/b/j/bji8kp0hzh.ico" type="image/x-icon" />
</head>
<body>

<div class="searchBYprefecture">
<h2>北海道の記事</h2>
</div>
<div class="backHokkaido">
<img th:src="@{/img/hokkaido.jpg}" class="hokkaido"></div>

	<div class="row">
		<div class="col-md-4">
			<div class="styleArticle" style="border-style: none;">
				<table class="table table-striped">
					<tbody>
						<tr th:each="hokkaido : ${hokkaidoList}" style="height: 320px;padding-top:200px;padding-left: 100px;">
							<th><a th:href="@{'/showArticleDetail?id='+${hokkaido.id}}">
									<img th:src="${hokkaido.imagePath}"
									class="img-responsive img-rounded" width="200" height="230">
							</a><br> <a th:href="@{'/showArticleDetail?id='+${hokkaido.id}}">
									<span th:text="${hokkaido.title}"></span>
							</a><br> 投稿者名：<span th:text="${hokkaido.name}"></span><br>
								投稿日時：<span th:text="${hokkaido.postDate}"></span><br> 都道府県：<span
								th:text="${hokkaido.prefecture}"></span></th>
						</tr>
					</tbody>
				</table>
			</div>
			</div>
	</div>


</body>
</html>