<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link th:href="@{/css/japanMap.css}" rel="stylesheet">
</head>
<body>

<div class="box17">
<h2>思い出を残そう</h2>
</div>

<form th:action="@{/registerArticle}" method="post" enctype="multipart/form-data">

<div class="panel-body">
<h3>タイトル</h3>
<input type="text" name="title"><br>
</div>

<div class="form-group">
<h3>投稿者名</h3>
<input type="text" name="name"><br>
</div>

<h3>都道府県</h3>
<select name="prefecture">
<option>-----</option>
<option value="1">北海道</option>
<option value="2">青森</option>
<option value="3">岩手</option>
<option value="4">宮城</option>
<option value="5">秋田</option>
<option value="6">山形</option>
<option value="7">福島</option>
<option value="8">茨城</option>
<option value="9">栃木</option>
<option value="10">群馬</option>
<option value="11">埼玉</option>
<option value="12">千葉</option>
<option value="13">東京</option>
<option value="14">神奈川</option>
<option value="15">新潟</option>
<option value="16">富山</option>
<option value="17">石川</option>
<option value="18">福井</option>
<option value="19">山梨</option>
<option value="20">長野</option>
<option value="21">岐阜</option>
<option value="22">静岡</option>
<option value="23">愛知</option>
<option value="24">三重</option>
<option value="25">滋賀</option>
<option value="26">京都</option>
<option value="27">大阪</option>
<option value="28">兵庫</option>
<option value="29">奈良</option>
<option value="30">和歌山</option>
<option value="31">鳥取</option>
<option value="32">島根</option>
<option value="33">岡山</option>
<option value="34">広島</option>
<option value="35">山口</option>
<option value="36">徳島</option>
<option value="37">香川</option>
<option value="38">愛媛</option>
<option value="39">高知</option>
<option value="40">福岡</option>
<option value="41">佐賀</option>
<option value="42">長崎</option>
<option value="43">熊本</option>
<option value="44">大分</option>
<option value="45">宮崎</option>
<option value="46">鹿児島</option>
<option value="47">沖縄</option>
</select>
<h3>内容</h3><textarea name="content" rows="30" cols="100"></textarea><br>
<h3>画像</h3><input type="file" name="imagePath"><br>
<br>
<input type="submit" value="この内容で投稿する">
</form>
</body>
</html>