<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link th:href="@{/css/back.css}" rel="stylesheet">
<link th:href="@{/css/japanMap.css}" rel="stylesheet">
<link th:href="@{/css/kagawa.css}" rel="stylesheet">
<link rel="shortcut icon" href="http://www.iconj.com/ico/l/u/lu4qp5yaf5.ico" type="image/x-icon" />
</head>
<body>

<div class="searchBYprefecture">
<h2>香川県の記事</h2>
</div>
<div class="backKagawa">
<img th:src="@{/img/kagawa.jpg}" class="kagawa"></div>

<div class="row">
		<div>
			<div class="styleArticle" style="border-style: none;">
				<table class="table table-striped">
					<tbody>
						<tr th:each="kagawa : ${kagawaList}" style="height: 320px;padding-top:200px;padding-left: 100px;">
							<th><a th:href="@{'/showArticleDetail?id='+${kagawa.id}}"> 
							<img th:src="${kagawa.imagePath}" class="img-responsive img-rounded" width="200" height="230"></a><br> 
							<a th:href="@{'/showArticleDetail?id='+${kagawa.id}}"> 
							<span th:text="${kagawa.title}"></span></a><br> 
							投稿者名：<span th:text="${kagawa.name}"></span><br>
							投稿日時：<span th:text="${kagawa.postDate}"></span><br>
							都道府県：<span th:text="${kagawa.prefecture}"></span>
							</th>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
</div>

</body>
</html>