<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link th:href="@{/css/back.css}" rel="stylesheet">
<link rel="shortcut icon" href="http://www.iconj.com/ico/2/t/2tl13he399.ico" type="image/x-icon" />
</head>
<body>

<div class="searchBYprefecture">
<h2>熊本県の記事</h2>
</div>
<div class="back"></div>

<div class="row">
		<div>
			<div class="table-responsive col-lg-offset-1 col-lg-10 col-md-offset-1 col-md-10 col-sm-10 col-xs-12" style="background-color: white;">
				<table class="table table-striped">
					<tbody>
						<tr th:each="kumamoto : ${kumamotoList}" class="col-md-4" style="height: 320px;">
							<th><a th:href="@{'/showArticleDetail?id='+${kumamoto.id}}"> 
							<img th:src="${kumamoto.imagePath}" class="img-responsive img-rounded" width="200" height="230"></a><br> 
							<a th:href="@{'/showArticleDetail?id='+${kumamoto.id}}"> 
							<span th:text="${kumamoto.title}"></span></a><br> 
							投稿者名：<span th:text="${kumamoto.name}"></span><br>
							投稿日時：<span th:text="${kumamoto.postDate}"></span><br>
							都道府県：<span th:text="${kumamoto.prefecture}"></span>
							</th>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
</div>

</body>
</html>