<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="shortcut icon"
	href="http://www.iconj.com/icon.php?pid=f3tqyum2g6" type="image/x-icon" />
<link rel="shortcut icon"
	href="http://www.iconj.com/gif_icon.php?pid=f3tqyum2g6"
	type="image/gif" />
<link th:href="@{/css/bootstrap.css}" rel="stylesheet">
<link th:href="@{/css/japanMap.css}" rel="stylesheet">
</head>
<body style="background-image: url('/img/futa.jpeg'); background-size: cover">

	<div class="block">
		<div class="loginDesign">

			<form th:action="@{/doLogin}" method="post"
				th:object="${loginForm}">

				<!-- タイトル横の写真 -->
				<a class="navbar-brand" th:href="@{/}">
				<img th:src="@{/img/logo.png}" class="logoL"></a> <br><br><br>
				<h2 style="font-family: 'ヒラギノ明朝 ProN','Hiragino Mincho ProN',sans-serif; margin-top:50px; margin-left: 193px;">ログイン</h2>
				<br>

				<div class="LoginBottons">
				
				<div th:if="${errorMessage}">
				<p th:text="${errorMessage}">パスワードが間違っています</p>
				</div>

				メールアドレス：<br>
				<input type="email" name="email" style="width: 70%; border-radius: 6px"><br>
				<br><br>

				パスワード ：<br> 
				<input type="password" name="password" style="width: 70%; border-radius: 6px"><br>
				<br>
				<br>
				
				</div>

				<div class="loginButton">
					<button class="cd_btn">
						<h5>ログイン</h5>
					</button>
				</div>

			</form>

			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>

			<div class="newButtonLetter">初めてご利用ですか？</div>
			<div class="newButton">
				<a th:href="@{/register}" class="cp_btn">新規登録はこちら</a>
			</div>

		</div>
	</div>
</body>
</html>