<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link th:href="@{/css/back.css}" rel="stylesheet">
<link rel="shortcut icon" href="http://www.iconj.com/ico/w/d/wd8rbe0uge.ico" type="image/x-icon" />
</head>
<body>

<div class="searchBYprefecture">
<h2>新潟県の記事</h2>
</div>
<div class="back"></div>

<div class="row">
		<div>
			<div class="table-responsive col-lg-offset-1 col-lg-10 col-md-offset-1 col-md-10 col-sm-10 col-xs-12" style="background-color: white;">
				<table class="table table-striped">
					<tbody>
						<tr th:each="nigata : ${nigataList}" class="col-md-4" style="height: 320px;">
							<th><a th:href="@{'/showArticleDetail?id='+${nigata.id}}"> 
							<img th:src="${nigata.imagePath}" class="img-responsive img-rounded" width="200" height="230"></a><br> 
							<a th:href="@{'/showArticleDetail?id='+${nigata.id}}"> 
							<span th:text="${nigata.title}"></span></a><br> 
							投稿者名：<span th:text="${nigata.name}"></span><br>
							投稿日時：<span th:text="${nigata.postDate}"></span><br>
							都道府県：<span th:text="${nigata.prefecture}"></span>
							</th>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
</div>

</body>
</html>