<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<form th:action="@{/registerArticle}" method="post" enctype="multipart/form-data">
<input type="hidden" name="postDate" th:value="${article.postDate}">
<h2>タイトル</h2><input type="text" name="title"><br>
<h2>名前</h2><input type="text" name="name"><br>
<h2>内容</h2><input type="text" name="content"><br>
<h2>画像</h2><input type="file" name="imagePath">


</form>

</body>
</html>